version: 3.1.4-{build}

image: Visual Studio 2013
clone_depth: 1

before_build:
  - cmd: cd C:\projects\libmodbus\src\win32
  - cmd: cscript.exe configure.js
  - cmd: curl https://raw.githubusercontent.com/chemeris/msinttypes/master/stdint.h > ..\stdint.h

platform:
  - Win32
  - x64

configuration: Release

# the normal build way uses a too new msbuild which fails with the current files
build_script:
  - cmd: "C:\WINDOWS\Microsoft.NET\Framework\v3.5\msbuild.exe" "%APPVEYOR_BUILD_FOLDER%\src\win32\modbus.vcproj" "/p:Configuration=%CONFIGURATION%" "/p:Platform=%PLATFORM%"

after_build:
  - cmd: >
           7z
           a
           modbus.zip
           ..\stdint.h
           ..\modbus.h
           ..\modbus-version.h
           ".\%PLATFORM%\%CONFIGURATION%\modbus.dll"
           ".\%PLATFORM%\%CONFIGURATION%\modbus.exp"
           ".\%PLATFORM%\%CONFIGURATION%\modbus.lib"
           ".\%PLATFORM%\%CONFIGURATION%\modbus.pdb"

artifacts:
  - path: src\win32\modbus.zip
